.AboutContainer {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    .AboutHeader {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 50px;
        z-index: 5;

        @media screen and (max-width: 540px) {
            padding: 20px;
        }

        @media screen and (max-height: 600px) {
            padding: 20px;
        }

        .AboutBtn {
            align-self: right;
            padding: 15px 30px;
            background: transparent;
            color: #fff;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            border: 1px solid #fff;
            border-radius: 10px;
            transition: 0.2s ease-in-out;
        
            &:hover {
                background: #fff;
                color: #000;
                border: 1px solid transparent;
            }
            
            @media screen and (max-width: 540px) {
                padding: 10px 20px;
            }
        }
    }

    .AboutHero {
        z-index: 5;
        display: grid;
        grid-template-columns: 1fr 2fr;

        @media screen and (max-width: 540px) {
            grid-template-columns: 1fr 3fr;
        }
        
        @media screen and (max-width: 414px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 70%;
        }

        .RightSide {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @media screen and (max-width: 414px) {
                display: none;
            }

            img {
                height: 60vh;
            }
        }

        .LeftSide {
            width: 80%;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
            justify-self: center;

            @media screen and (max-width: 414px) {
                width: 90%;
            }

            p {
                border: 1px solid #fff;
                border-radius: 10px;
                padding: 20px;
                font-size: 1.4em;

                @media screen and (max-width: 540px) {
                    font-size: 1.3em;
                }

                @media screen and (max-height: 600px) {
                    font-size: 1.2em;
                }
            }
        }
    }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url('../components/images/stars.png') repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('../components/images/twinkling.png') repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}