.ProjectsContainer {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(203, 203, 203, 1) 30%
  );
  box-shadow: inset 0 4px 2px -2px gray;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .ProjectsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 40px 0 40px 0;
    width: 100vw;
    border-bottom: 1px solid #54859f;
    line-height: 1.8;

    h4 {
      font-weight: 300;
      font-size: 1.2em;
    }

    p {
      font-weight: 300;
    }
  }
}
